<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Breath</display-name>
	<filter>
		<filter-name>CharacterEncodingFilterBoard</filter-name>
		<filter-class>qnaboard.filter.CharacterEncodingFilterBoard</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.qnaBoard</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>linefeed.filter.CharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>*.LineFeed</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CharacterEncodingVideoFilter</filter-name>
		<filter-class>trainerHome.filter.CharacterEncodingVideoFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingVideoFilter</filter-name>
		<url-pattern>*.Video</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>CharacterEncodingFilterHome</filter-name>
		<filter-class>trainerHome.filter.CharacterEncodingFilterHome</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilterHome</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	
</web-app>